@media (min-width:320px)and(max-width:768px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   header{
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px;
    width: 100%;
    font-size: 22px;
    font-family: 'Lora', serif;
    align-content: center;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
  .navbar {
    display: flex;
    align-items: center;
 justify-content: space-between;
 padding:1.5%;
    background-color: #706b68;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 20px;
   }
   /* NAVBAR MENU */
   .menu {
    display:flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #97908c;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #635e5b;
    padding:0em 0;
    position: absolute; /*WITH RESPECT TO PARENT */
    display: none;
    border-radius: 8px;
    top: 5px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #97908c;
   }
   .services:hover .dropdown {
    display: block;
   }
  /*RESPONSIVE NAVBAR MENU STARTS*/
  /* CHECKBOX HACK */
  input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   .menu { 
    display:none;
    position: absolute;
    background-color:#706b68;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }

   .menu li:hover {
    display: inline-block;
    background-color:#97908c;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #97908c;
   }
   .section-head{
    font-size:30px;
   }
   .section-sub{
    font-size:27px;
   }
   [data-component="slideshow"] .slide {
    height:80%;
   }
  }
/*
  @media(min-width:768px){
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
     }
     header{
      background-color: #000000;
      color: #FFFFFF;
      padding: 5px;
      width: 100%;
      font-size: 23px;
      font-family: 'Lora', serif;
      align-content: center;
   }
     body {
      font-family: cursive;
     }
     a {
      text-decoration: none;
     }
     li {
      list-style: none;
     }
    .navbar{
      background-color: #008b;
    }
    .navbar{
      background-color: #008b;
        display: flex;
        align-items: center;
     justify-content: space-between;
        color: #fff;
       }
       .nav-links a {
        color: #fff;
       }
       /* LOGO */
       .logo {
        font-size: 32px;
       }
       /* NAVBAR MENU */
       .menu {
        display:flex;
        gap: 1em;
        font-size: 18px;
       }
       .menu li:hover {
        background-color: #97908c;
        border-radius: 5px;
        transition: 0.3s ease;
       }
       .menu li {
        padding: 5px 14px;
       }
       /* DROPDOWN MENU */
       .services {
        position: relative; 
       }
       .dropdown {
        background-color: #635e5b;
        padding: 1em 0;
        position: absolute; /*WITH RESPECT TO PARENT     */
        display: none;
        border-radius: 8px;
        top: 35px;
       }
       .dropdown li + li {
        margin-top: 10px;
       }
       .dropdown li {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
       }
       .dropdown li:hover {
        background-color: #97908c;
       }
       .services:hover .dropdown {
        display: block;
       }
      /*RESPONSIVE NAVBAR MENU STARTS*/
      /* CHECKBOX HACK */
      input[type=checkbox]{
        display: none;
       } 
       /*HAMBURGER MENU*/
       .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
       }
  }
  */


h2{
    font-size:30px;
}
article{
    background-color:#f0e0cf;
    font-size: 20px;
    color: #000000
}
body{
    background-color: #d4b8a8;

}
/*images*/
img{
    width: 90%;
    height: 280px;
    max-height: 800px;
}
.underl:hover{
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    
}
td a[href]{
    color:#000000;
    font-size: 22px;
    text-decoration: none;
}

section{
    font-size:35;
    margin: 3px;
}
li a:hover {
    background-color: #111;
  }
  .menu .active{
    background-color:#d4b8a8;
    color: #000;
    font-size: 26px;
}
/*the slideshow*/
[data-component="slideshow"] .slide {
    display: none;
    padding: 0px 0em 0px;
    width:70%;
    align-content: center;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }
  article{
    padding:0px 2px;
    font-size:22px;
  }
  .star-rating {
    display: flex;
    align-items: center;
    width: 300px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 40px auto;
    position: relative;
  }
  /* hide the inputs */
  .star-rating input {
    display: none;
  }
  /* give label a hover state */
  .star-rating label:hover {
    color: #bc9404;
    transition: 0.6s ease;
  }
  /* set shape of unselected label */
  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }
.star-rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:50px;
    color:#9e9d9d;
    display: flex;
}
.star-rating:not(:checked) > label:before {
    content: '★ ';
}
.star-rating > input:checked ~ label {
    color: #ffc700;
}
.star-rating:not(:checked) > label:hover,
.star-rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
